@import "../Helpers/variables";
@import "../Helpers/mixin";
.btnWidget{
    a{
        padding: 10px 10px;
        border-radius: 100px;
        @include linkHover($cl-white-1, $cl-primary, 3em);
        @include socialsStyle($cl-white-1,$fs-1);
    }
    & a:hover{
        @include linkHover($cl-primary, $cl-primary, 1px);
    }
}
input{
    border: none;
    background-color: transparent;
    outline: none;
}
.ContactButton{
    // margin-bottom: 30px;
    border: none;
    // height: 4em;
    // padding: 35px 0;
    a{  
        display: inline-block;
        text-align: center;
        // padding: 30px 30px;
        input{
            line-height: 2em;
            color: white;
            transition: all 300ms;
        }
    }
    
}
.contact-main{
    .ContactButton{
        :hover input{
            color: $cl-primary;
        }
    }
}


