@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btnWidget a {
  padding: 10px 10px;
  border-radius: 100px;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.5s;
}

.btnWidget a:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}

.header-main {
  padding-bottom: 4em;
  position: relative;
}

.header-main .bg-image-top {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.header-main .bg-image-top img {
  max-width: 100%;
}

.header-main .bg-image-bottom {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.header-main .bg-image-bottom img {
  max-width: 100%;
}

.header-main .header-menu .nav-item {
  margin: 5px;
  position: relative;
  padding: 30px 10px;
}

.header-main .header-menu .nav-item .nav-link::after {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 100px;
  border-width: 0px;
  height: 10px;
  background-color: #b61984;
  width: 10px;
  transform: translate(-50%) scale(0);
  transition: all 0.5s;
}

.header-main .header-menu .nav-item:hover .nav-link::after {
  transform: translate(-50%) scale(1.2);
}

.header-main .header-menu .nav-item .dropdown-item {
  padding: 0;
}

.header-main .header-menu .nav-item .dropdown-menu {
  display: block;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  width: 220px;
  padding: 0 15px;
  margin-top: .125rem;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  transform: scale(0.9);
  transition: all 0.3s;
}

.header-main .header-menu .nav-item .dropdown-menu li {
  padding: 10px 0px;
  list-style-type: none;
  border-bottom: 1px solid #abb8c3;
  text-align: left;
}

.header-main .header-menu .nav-item .dropdown-menu li a {
  background-color: transparent;
  transition: all 0.5s;
}

.header-main .header-menu .nav-item .dropdown-menu li a:hover {
  color: #b61984;
}

.header-main .header-menu .nav-item .dropdown-menu li:last-child {
  border: none;
}

.header-main .header-menu .nav-item:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu {
  left: -300px;
  width: 700px;
  border-radius: 0;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .dropdown-menu-hover-main .dropdown-item,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .dropdown-menu-hover-main .dropdown-item {
  display: none;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .row,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .row {
  margin: 0;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .dropdown-menu-hover-main ul,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .dropdown-menu-hover-main ul {
  padding: 0 15px;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .dropdown-menu-hover-main li,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .dropdown-menu-hover-main li {
  padding: 10px 0;
  list-style-type: none;
  border-bottom: 1px solid #abb8c3;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .dropdown-menu-hover-main .drophover-main-item,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .dropdown-menu-hover-main .drophover-main-item {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .dropdown-menu-hover-main .drophover-main-item:hover,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .dropdown-menu-hover-main .drophover-main-item:hover {
  color: #b61984;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .dropdown-menu-hover-main li:last-child,
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .dropdown-menu-hover-main li:last-child {
  border: none;
}

.header-main .header-menu .nav-item:nth-child(1) .dropdown-menu .dropdown-menu-hover-main li:nth-of-type(1),
.header-main .header-menu .nav-item:nth-child(6) .dropdown-menu .dropdown-menu-hover-main li:nth-of-type(1) {
  border-bottom: 2px solid #b61984;
}

.header-main .header-menu .nav-item:nth-child(5) .dropdown-menu {
  left: -150%;
}

.header-main .header-menu .nav-item:nth-child(5) .dropdown-menu li {
  padding: 10px 0px;
  list-style-type: none;
  border-bottom: 1px solid #abb8c3;
  text-align: right;
}

.header-main .header-menu .nav-item:nth-child(5) .dropdown-menu li a {
  background-color: transparent;
  transition: all 0.5s;
}

.header-main .header-menu .nav-item:nth-child(5) .dropdown-menu li a:hover {
  color: #b61984;
}

.header-main .header-menu .nav-item:nth-child(5) .dropdown-menu li:last-child {
  border: none;
}

.header-main .header-menu .menu-socials {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
}

.header-main .header-menu .menu-socials .icon-phone::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}

.header-main .header-menu .menu-socials .socials {
  margin-left: 10px;
}

.header-main .header-menu .menu-socials .socials a {
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  transition: all 0.5s;
}

.header-main .header-menu .menu-socials .socials .socials-icon-tw::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "";
}

.header-main .header-menu .menu-socials .socials .socials-icon-fb::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "";
}

.header-main .header-menu .menu-socials .socials .socials-icon-yt::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "";
}

.header-main .header-menu .menu-socials .socials .socials-icon-ins::after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "";
}

.header-main .header-menu .menu-socials .socials a:hover {
  color: #b61984;
}

.header-main .header-about .about-top .subTitle {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #b61984;
  font-weight: 600;
}

.header-main .header-about .about-top .title {
  font-weight: 700;
  font-size: 3.8rem;
}

.port-main {
  padding: 30px 0;
  background-color: #dcd1f3;
}

.port-main {
  position: relative;
}

.port-main .bg-image-bottom {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.port-main .port-container {
  position: relative;
  z-index: 3;
}

.port-main img {
  width: 100%;
  transition: all 0.5s;
}

.port-main .row > [class*=col] {
  padding: 20px 20px;
}

.port-main .row > [class*=col] .port-item {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
}

.port-main .row > [class*=col] .port-item .port-header {
  overflow: hidden;
}

.port-main .row > [class*=col] .port-item .port-header:hover img {
  transform: scale(1.1);
}

.port-main .row > [class*=col] .port-item .port-content {
  padding: 20px 10px;
  text-align: center;
}

.port-main .row > [class*=col] .port-item .port-content span {
  font-size: .75rem;
  margin-bottom: .7em;
  color: #b61984;
  font-weight: 600;
}

.port-main .row > [class*=col] .port-item .port-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.port-main .row > [class*=col] .port-item:hover {
  box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.15);
}

.contact-main {
  max-width: 60%;
  margin: 0 auto;
}

.contact-main .contact-left img {
  width: 100%;
}

.contact-main .contact-right .contact-right-main {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

.contact-main .contact-right form .row [class*=col]:nth-of-type(1) {
  padding-left: 0;
  padding-right: 5px;
}

.contact-main .contact-right form .row [class*=col]:nth-of-type(2) {
  padding-left: 5px;
  padding-right: 0;
}

.contact-main .contact-right form .row input {
  border: none;
  background-color: transparent;
  outline: none;
}

.contact-main .contact-right form .row .inputName, .contact-main .contact-right form .row .inputEmail {
  width: 100%;
}

.contact-main .contact-right form .row .inputName, .contact-main .contact-right form .row .inputEmail, .contact-main .contact-right form .row .selectCountry, .contact-main .contact-right form .row .ContactMessage {
  margin-top: 20px;
  padding: 10px 10px;
  border: 1px solid #b61984;
  border-radius: 100px;
}

.contact-main .contact-right form .row .inputName input, .contact-main .contact-right form .row .inputEmail input, .contact-main .contact-right form .row .selectCountry input, .contact-main .contact-right form .row .ContactMessage input {
  border: none;
  outline: none;
}

.contact-main .contact-right form .row .inputName select, .contact-main .contact-right form .row .inputEmail select, .contact-main .contact-right form .row .selectCountry select, .contact-main .contact-right form .row .ContactMessage select {
  width: 100%;
  border: none;
  outline: none;
}

.contact-main .contact-right form .row .ContactMessage {
  border-radius: 20px;
}

.contact-main .contact-right form .row .ContactMessage textarea {
  width: 100%;
  border: none;
  outline: none;
}

.contact-main .contact-right form .row .ContactButton {
  margin-top: 20px;
  border: none;
  padding: 10px 0;
}

.contact-main .contact-right form .row .ContactButton a {
  width: 40%;
  display: inline-block;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */