@mixin socialsIcon($fm, $fw, $content) {
        font-family: $fm;
        font-weight: $fw;
        content: $content;
}
@mixin socialsStyle($color, $fs){
    text-decoration: none;
    color: $color;
    font-size: $fs;
    transition: all 0.5s;
}
@mixin linkHover($cl-text,$cl-box,$valuebox){
    box-shadow: 0 0 0 $valuebox $cl-box inset;
    color: $cl-text;
}