@mixin socialsIcon($fm, $fw, $content) {
        font-family: $fm;
        font-weight: $fw;
        content: $content;
}
@mixin socialsStyle($color, $fs){
    text-decoration: none;
    color: $color;
    font-size: $fs;
    transition: all 0.5s;
}
@mixin linkHover($cl-text,$cl-box,$valuebox){
    box-shadow: 0 0 0 $valuebox $cl-box inset;
    color: $cl-text;
}
@mixin menuDropdowHover($li-pad1, $li-pad2, $tx-al){
    li{
        padding: $li-pad1 $li-pad2;
        list-style-type: none;
        border-bottom: 1px solid #abb8c3;
        text-align: $tx-al;
        a{
            background-color: transparent;
            transition: all 0.5s;
        }
        & a:hover{
                color: $cl-primary;
        }
    }
    & li:last-child{
        border: none;
    }
}
@mixin responsive($screen){
    @if(map-has-key($map: $breakpoints, $key:$screen )){
        $value: map-get($map: $breakpoints, $key:$screen );
        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else{
        @warn "`{$screen}` isn't in breakpoint";
    }
}
