@import "../Helpers/variables";
@import "../Helpers/mixin";


.contact-main{
   position: relative;
    .wrap-content{
        max-width: 1000px;
        margin: 0 auto;
    }
    .contact-left{
        padding-bottom: 4em;
        padding-top: 4em;
        padding-left: 20px;
        padding-right: 20px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .contact-right{
        .contact-right-main{
            width: 100%;
            background-color: $cl-white-1;
            border-radius: 10px;
             -webkit-box-shadow: 0 30px 30px -10px rgba(0,0,0,.2);
            box-shadow: 0 30px 30px -10px rgba(0,0,0,.2);
            h3{
                font-weight: $fw-7;
                color: $cl-black-1;
                font-size: 2.5rem;
                margin-bottom: 40px;
                margin-top: 40px;
            }
        }
        form .row{
            padding: 0 10px;
            [class*=col]:nth-of-type(1){
                padding-left: 0;
                padding-right: 5px;
             }
             [class*=col]:nth-of-type(2){
                padding-left: 5px;
                padding-right: 0;
              }
            input{
                border: none;
                background-color: transparent;
                outline: none;
            }
            .inputName,.inputEmail{
                width: 100%;
            }
            .inputName,.inputEmail,.selectCountry,.ContactMessage{
                position: relative;
                margin-top: 20px;
                border: 1px solid rgba(0,0,0,.1);                ;
                border-radius: 50px;
                input{
                    border: none;
                    outline: none;
                    padding: 1em 1em 1em 3.5em !important;
                    font-size: .8em !important;
                    height: 3.2em;
                }
                select{
                    width: 100%;
                    height: 3.2em;
                    font-size: .8em;
                    opacity: .8;
                    padding: 0 0 0 3em;
                    line-height: 3.2em;
                    border: none;
                    outline: none;
                }
            }
            .ContactMessage{
                border-radius: 20px;
                textarea{
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 1em 1em 1em 3.5em !important;
                    height: 90px;
                    line-height: 1.5;
                    font-size: .8em !important;
                }
            }
            .ContactButton{
                 margin-bottom: 30px;
                 padding: 35px 0;
                 a{
                    width: 40%;
                 }
            }
        }
    }
    .bg-image-contact-main{
        position: absolute;
        bottom: 0;
        z-index: -1;
        img{
            width: 100%;
        }
    }
}