@import "../Helpers/variables";
@import "../Helpers/mixin";

.header-main{
    .nav-item{
        margin: 15px;
        position: relative;
        background-color: burlywood;
        padding: 20px 15px;
        .nav-link::after{
           margin-bottom: 10px;
           position: absolute;
           bottom: 0;
           left: 50%;
           border-radius: 100px;
           border-width: 0px;
           height: 10px;
           background-color: black;
           width: 10px;
           transform: translate(-50%) scale(0);
           transition: all 0.5s;
        }
        &:hover .nav-link::after{
            transform: translate(-50%) scale(1.2);
        }
    }
    .menu-socials{
        display: flex;
        justify-content: center;
        margin-left: 20px;
        align-items: center;
       
        .icon-phone::before{
            @include socialsIcon($font-awsome-free, $fw-9, "\f879");
        }
        .socials{
            margin-left: 10px;
            a{
                display: inline-block;
                margin-left: 5px;
                @include socialsStyle($cl-black-1,$fs-1);
            }
            .socials-icon-tw::after{
                @include socialsIcon($font-awsome-brands, $fw-9, "\f099");
            }
            .socials-icon-fb::after{
                @include socialsIcon($font-awsome-brands, $fw-9, "\f39e");
            }
            .socials-icon-yt::after{
                @include socialsIcon($font-awsome-brands, $fw-9, "\f167");
            }
            .socials-icon-ins::after{
                @include socialsIcon($font-awsome-brands, $fw-9, "\f16d");
            }
            &  a:hover{
                color: $cl-primary; 
            }
        } 
    }
}

