@import "../Helpers/variables";
@import "../Helpers/mixin";

.header-menu-mobile{
    display: none;
}
.header-main-primary{
    position: relative;

}
.header-main-primary.row{
    margin-right: 0;
    flex-wrap: nowrap;
}
.menu-left{
    width: 0%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.5s;
}
.menu-right{
    width: 100%;
}
.header-main{
    position: relative;
    .menu-right{
        padding-bottom: 4em;
        position: relative;
    }
    
    .bg-image-top{
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        img{
            max-width: 100%;
        }
    }
    .bg-image-bottom{
        position: absolute;
        z-index: -1;
        bottom: 0;
        img{
            max-width: 100%;
        }
    }
  .header-menu{
    .nav-item{
        margin: 5px;
        position: relative;
        padding: 30px 10px;
        .nav-link::after{
           margin-bottom: 10px;
           position: absolute;
           bottom: 0;
           left: 50%;
           border-radius: 100px;
           border-width: 0px;
           height: 10px;
           background-color: $cl-primary;
           width: 10px;
           transform: translate(-50%) scale(0);
           transition: all 0.5s;
           z-index: 3;
        }
        &:hover .nav-link::after{
            transform: translate(-50%) scale(1.2);
        }
        .dropdown-item{
            padding: 0;
        }
        .dropdown-menu{
            display: block;
            top: 83%;
            opacity: 0;
            visibility: hidden;
            border-radius: 0;
            width: 220px;
           z-index: 2;
            padding: 0 15px;
            margin-top: .125rem;
            box-shadow: 0 0 10px 0 rgba(204,204,204,.5);
            @include menuDropdowHover(10px,0px,left);
            transform: scale(.9);
            transition: all 0.3s;
        }
        &:hover .dropdown-menu{
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
        
    }
        .nav-item:nth-child(1),
        .nav-item:nth-child(6){
            .dropdown-menu{
                left: -300px;
                width: 700px;
                border-radius: 0;
                .dropdown-menu-hover-main .dropdown-item{
                    display: none;
                }
                .row{
                    margin: 0;
                }
                .dropdown-menu-hover-main{
                    ul{
                        padding: 0 15px;
                    }
                    li{
                        padding: 10px 0;
                        list-style-type: none;
                        border-bottom: 1px solid #abb8c3;
                    }
                    .drophover-main-item{
                        text-decoration: none;
                        color: $cl-black-1;
                        cursor: pointer;
                        transition: all 0.5s;
                        // display: inline-block;
                        &:hover{
                            color: $cl-primary;
                        }
                    }
                    & li:last-child{
                        border: none;
                    }
                    & li:nth-of-type(1){
                        border-bottom:2px solid $cl-primary;
                    }
                
                }
            }
        }
        .nav-item:nth-child(5){
            .dropdown-menu{
                left: -150%;
                @include menuDropdowHover(10px,0px,right);
            }
        }
        .nav-item:nth-child(6){
            .dropdown-menu{
                @include menuDropdowHover(10px,0px,right);
            }
        }
    
  }
  .header-about{
    
    .about-top{
        .subTitle{
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            color: $cl-primary;
            font-weight: $fw-6;
        }
        .title{
            font-weight: 700;
            font-size: 3.8rem;
        }
      }
  }

}
.dl-none{
    display: none;
}
.open-left-menu{   
    width: 30%;
    padding: 0;
    .header-menu-left-mobile{
        position: fixed;
        overflow-y: scroll;
        width: 30%;
        height: 100%;
    }
    .nav-item .dropdown-menu{
        position: relative;
        top: 0;
        left: 0;
    
    }
    .menu-socials {
        margin-left: 0;
        .btnWidget{
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}
.open-right-menu{
    width: 70%;
    padding-left: 0;
    transition: all 0.5s;
    .menu-mobile-main{
        .togle-menu-mobile{
            display: none;
        }
        .menu-mobile-logo{
            visibility: hidden;
        }
        .togle-menu-close-mobile.dl-none{
            display: block;
        }
    }
}

@include responsive("large"){
    .header-menu{
        display: none;
    }
    .header-menu-mobile{
        background-color: $cl-white-1;
        display: block;
      .menu-mobile-main{
        svg{
            color: black;
        }
        img{
            max-height: 50px;
        }
        .togle-menu-mobile{
            padding: 0px 10px;
        }
      }
     
    }
}

